<div class="container mx-auto py-8 w-4/5">
    <div class="flex flex-col sm:flex-row justify-center gap-4 mb-6">
        <strong class="py-2 text-white">Filtros:</strong>
        <button (click)="filterTasks(null)"
            class="flex items-center justify-center gap-2 px-4 py-2 bg-blue-600 text-white rounded-lg hover:bg-blue-500">
            Todas
            <span class="material-icons">ballot</span>
        </button>
        <button (click)="filterTasks(true)"
            class="flex items-center justify-center gap-2 px-4 py-2 bg-green-600 text-white rounded-lg hover:bg-green-500">
            Completadas
            <span class="material-icons">task_alt</span>
        </button>
        <button (click)="filterTasks(false)"
            class="flex items-center justify-center gap-2 px-4 py-2 bg-red-600 text-white rounded-lg hover:bg-red-500">
            Pendientes
            <span class="material-icons">pending_actions</span>
        </button>
    </div>
    <div *ngIf="filteredTasks.length > 0; else noTasks" class="grid grid-cols-1 gap-6">
        <div *ngFor="let task of filteredTasks" class="bg-gray-800 text-white p-6 rounded-lg shadow-lg max-w-full">
            <h3 class="text-xl font-bold mb-2">{{ task.title }}</h3>
            <hr class="border-gray-600 mb-4">
            <p class="mb-2">
                <strong>Fecha límite:</strong> {{ task.limitDate | date:'mediumDate' }}
            </p>
            <p class="mb-4 flex items-center gap-2">
                <strong>Estado:</strong> {{ task.isCompleted ? 'Completada' : 'Pendiente' }}
                <span *ngIf="task.isCompleted" class="material-icons">task_alt</span>
                <span *ngIf="!task.isCompleted" class="material-icons">pending_actions</span>
            </p>
            <h4 class="text-lg font-semibold mb-2">Usuarios:</h4>
            <div class="flex flex-wrap gap-4">
                <div *ngFor="let user of task.users" class="bg-gray-700 p-3 rounded-lg flex-shrink-0">
                    <span class="font-semibold">{{ user.userName }} ({{ user.userAge }} años)</span>
                    <div class="text-sm mt-2">
                        <strong>Habilidades:</strong>
                        <ul class="list-disc pl-5 mt-1">
                            <li *ngFor="let skill of user.skills" class="text-gray-300">{{ skill }}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="flex justify-center mt-6">
                <button [routerLink]="['/tasks/edit', task.taskId]"
                    class="bg-yellow-500 text-white rounded-lg px-4 py-2 hover:bg-yellow-400">
                    Editar
                </button>
            </div>
        </div>
    </div>
    <ng-template #noTasks>
        <p class="text-white text-lg">No hay tareas disponibles.</p>
    </ng-template>
</div>