<nav class="bg-gray-800 p-4">
    <div class="container mx-auto flex justify-between items-center">
      <!-- Logo -->
      <a href="/" class="text-white text-lg font-semibold">MyApp</a>
  
      <!-- Links de navegación -->
      <div class="flex space-x-4">
        <a routerLink="/tasks/list" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">
          Lista de Tareas
        </a>
        <a routerLink="/tasks" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">
          Crear Tarea
        </a>
      </div>
    </div>
  </nav>
  