<section >
  <div class="my-8 px-4 mx-auto max-w-2xl lg:py-16 bg-gray-800 ">
    <h2 class="mb-4 text-xl font-bold text-white">Crear nueva tarea</h2>
    <hr class="border-gray-600 mb-4">
    <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
      <div class="grid gap-4 sm:grid-cols-2 sm:gap-6">
        <!-- Nombre de la tarea -->
        <div class="sm:col-span-2">
          <label for="name" class="block mb-2 text-sm font-medium text-white">Nombre de la tarea:</label>
          <input formControlName="title" type="text" name="name"
            [ngClass]="{'border-red-500': submitted && taskForm.get('title')?.invalid}"
            class="text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white" />
          <app-input-error [control]="taskForm.get('title')" [submitted]="submitted"></app-input-error>
        </div>

        <!-- Fecha límite -->
        <div class="w-full">
          <label for="limitDate" class="block mb-2 text-sm font-medium text-white">Fecha límite:</label>
          <input type="date" name="limitDate"
            [ngClass]="{'border-red-500': submitted && taskForm.get('limitDate')?.invalid}"
            class="text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white"
            formControlName="limitDate" />
          <app-input-error [control]="taskForm.get('limitDate')" [submitted]="submitted"></app-input-error>
        </div>

        <!-- Estado -->
        <div class="w-full">
          <label for="isCompleted" class="block mb-2 text-sm font-medium text-white">Estado</label>
          <div class="rounded bg-gray-800 text-white pt-2">
            <label class="flex items-center space-x-2">
              <input formControlName="isCompleted" type="checkbox" class="text-primary-600" />
              <span>{{ taskForm.get('isCompleted')?.value ? 'Completada' : 'Pendiente' }}</span>
            </label>
          </div>
        </div>

        <!-- Lista de usuarios -->
        <div formArrayName="users" class="sm:col-span-2">
          <div *ngFor="let user of users.controls; let i=index" [formGroupName]="i"
            class="mb-4 p-4 bg-gray-800 rounded-lg">
            <!-- Usuario -->
            <label class="block mb-1 text-sm font-medium text-white">Usuario {{ i + 1 }}:</label>
            <input
              class="text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white mb-2"
              formControlName="userName" placeholder="Nombre del usuario"
              [ngClass]="{'border-red-500': submitted && user.get('userName')?.invalid}" />
            <app-input-error [control]="user.get('userName')" [submitted]="submitted"></app-input-error>
            <app-input-error [control]="users" [submitted]="submitted"></app-input-error>
            <input
              class="text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white"
              formControlName="userAge" type="number" placeholder="Edad del usuario"
              [ngClass]="{'border-red-500': submitted && user.get('userAge')?.invalid}" />
            <app-input-error [control]="user.get('userAge')" [submitted]="submitted"></app-input-error>


            <!-- Input para agregar habilidades -->
            <div class="mt-4">
              <label class="block mb-1 text-sm font-medium text-white">Habilidades:</label>
              <div class="flex items-center space-x-2">
                <input [formControl]="newSkill" placeholder="Escribe una habilidad"
                  class="text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white" />
                <button
                  class="inline-flex items-center p-1.5 text-sm font-medium text-white bg-lime-500 rounded-full hover:bg-lime-400 focus:ring-4 focus:ring-blue-300 focus:ring-opacity-50 transition"
                  type="button" (click)="addSkill(i)">
                  <span class="material-icons">add</span>
                </button>
              </div>
            </div>
            <app-input-error [control]="user.get('skills')" [submitted]="submitted"></app-input-error>


            <!-- Mostrar las habilidades agregadas en fila con flex-wrap -->
            <div *ngIf="getSkills(i).controls.length > 0" class="flex flex-wrap gap-x-2 mt-4">
              <div *ngFor="let skill of getSkills(i).controls; let j = index" (click)="removeSkill(i, j)"
                class="bg-yellow-300 text-gray-800 font-semibold px-3 py-1 rounded-lg inline-block mb-2 cursor-pointer hover:bg-yellow-400 transition-all">
                {{ skill.value }}
              </div>
            </div>
            <!-- Botón para eliminar usuario centrado -->
            <div class="flex justify-center mt-4">
              <button type="button" (click)="removeUser(i)"
                class="text-red-500 border border-red-500 hover:bg-red-500 hover:text-white focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center transition">
                <span class="material-icons">person_remove</span>
              </button>
            </div>
          </div>
        </div>

        <!-- Botón para agregar usuario centrado -->
        <div class="sm:col-span-2 flex justify-center">
          <app-input-error [control]="taskForm.get('users')" [submitted]="submitted"></app-input-error>
        </div>

        <div class="sm:col-span-2 flex justify-center">
          <button type="button" (click)="addUser()"
            class="text-lime-500 border border-lime-500 hover:bg-lime-500 hover:text-white focus:ring-4 focus:outline-none focus:ring-lime-300 font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center transition">
            <span class="material-icons">person_add</span>
          </button>
        </div>
      </div>

      <!-- Botón de Crear Tarea con nuevo color -->
      <div class="flex justify-center mt-6">
        <button type="submit"
          class="inline-flex items-center px-5 py-2.5 text-sm font-medium text-white bg-green-600 rounded-lg hover:bg-green-700 focus:ring-4 focus:ring-green-300 focus:ring-opacity-50 transition">
          Crear Tarea
        </button>
      </div>
    </form>
  </div>
</section>